body {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    max-width: 30%;
}

p {
    color: rgba(0, 0, 0, 1);
}

h3 {
    margin-left: 4px;
    margin-top: 20px;
    margin-bottom: 4px;
}

h1 {
    margin-top: 4px;
    margin-bottom: 8px;
}

p.lock {
    cursor: default;
    margin: 0;
}

p#dropText {
    font-size: 100px;
}

/* #paper and #controls should be inline with each other in a 60 40 ratio*/
.container {
    display: flex;
}

/* input {
    border-radius: 2px;
} */

button {
    border: none;
}

button.interface {
    background-color: rgb(200, 200, 200);
    padding: 4px;
    border-radius: 6px;
    margin: 4px;
    width: 28%;
    min-width: 80px;
    /* font-size: 10px; */
}

button.interface:hover {
    background-color: rgb(160, 160, 160);
    cursor: pointer;
}

button.lock {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

div {
    margin: 4px;
}

h2 {
    margin: 4px;
}

/* button.settingsButton {
    width: 30%;
} */


.info {
    background-color: rgb(221, 221, 221);
    padding: 5px;
    border-radius: 8px;
}

.full-flex {
    flex: 1;
}

.panel {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.settings {
    width: 35vh;
    margin: 4px;
    display: flex;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
    flex-direction: column;
}

#previewSVG {
    width: 100%;
    height: 100%;
}

div.SVGbox {
    border: 1px solid rgb(0, 0, 0);
}

div.preview {
    width: 65vh;
    height: 65vh;
    margin: 4px;
    border-radius: 6px;
    background-size: 100% 100%;
    background-image: url("/img/background.svg");
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

div#dropZone {
  background-color: rgba(180, 180, 180, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
   position:fixed;
   left: 0px;
   bottom: 0px;
   height: 30px;
   width: 100%;
   font-size: 12px;
}
